<div class="buttons">
<button class="button1">Test</button>
<button class="button2">Test</button>
<button class="button3">Test</button>
</div>
<h3 class="skills_title">Skills</h3> 
<div class="skills">
 <img class="logo" src="../assets/logos/html-logo.png" />
  <img class="logo" src="../assets/logos/css-logo.png" />
   <img class="logo" src="../assets/logos/javascript-logo.png" />
    <img class="logo" src="../assets/logos/ruby-logo.png" />
     <img class="logo" src="../assets/logos/rails-logo.png" />
      <img class="logo" src="../assets/logos/react-logo.png" />
       <img class="logo" src="../assets/logos/postgresql-logo.png" />
        <img class="logo" src="../assets/logos/mongodb-logo.png" />
         <img class="logo" src="../assets/logos/github-logo.png" />
          <img class="logo" src="../assets/logos/bootstrap-logo.png" />
</div>
