<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
</head>
    <body>
        <div class="container stack-top">
        <div class="bird-container bird-container--one">
            <div class="bird bird--one"></div>
        </div>
        <div class="bird-container bird-container--two">
            <div class="bird bird--two"></div>
        </div>
        <div class="bird-container bird-container--three">
            <div class="bird bird--three"></div>
        </div>
        <div class="bird-container bird-container--four">
            <div class="bird bird--four"></div>
        </div>
    </div>
            <div>
            <%# <div class="buttons">
                <button class="projects_button"><img class="projects_icon" src="../assets/buttons/projects_icon.png" height="35"/></button>
                <button class="menu">Skills</button>
                <button class="menu">About</button>
            </div>
            <h3 class="skills_title">Skills</h3> 
            <div class="skills">
                <img class="logo" src="../assets/logos/html-logo.png" />
                <img class="logo" src="../assets/logos/css-logo.png" />
                <img class="logo" src="../assets/logos/javascript-logo.png" />
                    <img class="logo" src="../assets/logos/ruby-logo.png" />
                    <img class="logo" src="../assets/logos/rails-logo.png" />
                    <img class="logo" src="../assets/logos/react-logo.png" />
                    <img class="logo" src="../assets/logos/postgresql-logo.png" />
                        <img class="logo" src="../assets/logos/mongodb-logo.png" />
                        <img class="logo" src="../assets/logos/github-logo.png" />
                        <img class="logo" src="../assets/logos/bootstrap-logo.png" />
            </div> %>
        </div>
    </body>
</html>


