// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

.foreground{
  width: 100%;
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
}

.name {
   margin-top: 0px;
   font-family: 'Cinzel', serif;
}

.test_img {
  animation: img_Movement 8s linear infinite;
   height: 50%;
   width: 50%;
}

// Image movement

@keyframes img_Movement {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:500%;
  height:500%;
  display:block;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 1;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

// Shooting Stars


